body {
  margin: 0;
  padding: 0;
  width: 100%;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #79817f;
  line-height: 10px;
  font-weight: 200;
  margin: 20px 0px 0px 0px;
  padding: 0;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #1acc9c;
  font-size: 30px;
  font-weight: 200;
  padding: 0;
}
p {
  font-family: 'Montserrat', sans-serif;
  color: #b1b1b1; 
  font-weight: 100;
  font-size: 12px;
}
.description {
  width: 100%;
  padding: 20px;
  display: block;
  position: relative;
}
#header {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0px;
  vertical-align: middle;
  background-color: #1acc9c;
  display: block;
  position: relative;
}
#header .navigation {
  padding-top: 20px;
  height: 65px;
  width: 100%;
}
#header .menu {
  height: 65px;
  width: 20%;
  margin-top: 15px;
  float: left;
  text-align: center;
}
#header .menu img {
  height: auto;
  width: 40%;
}
#header .logo {
  height: 65px;
  width: 60%;
  float: left;
  text-align: center;
}
#header .logo img{
  width: 80%;
  height: auto;
  margin: 3px 0px 0px 0px;
  padding: 0;
}
#header .camera {
  height: 65px;
  width: 20%;
  margin-top: 15px;
  float: right;
  text-align: center;
}
#header .camera img {
  height: auto;
  width: 40%;
}
.photo {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
.photo img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}
.sub-bar{
  width: 100%;
  height: 40px;
  background-color: #98a7a3;
  display: block;
}
.distance {
  width: 100%;
  text-align: center;
  display: block;
}
.location-icon {
  margin: 8px 5px 0px 20px;
  display: inline-block;
}
.location-icon img{
  width: 20px;
  height: auto;
}
.location-text{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: #FFF;
  display: inline-block;
}
#controls {
  width: 100%;
  height: 100%;
  display: block;
}
#controls .tasty{
  width: 50%;
  height: 190px;
  border-right: #c6c6c6 dotted 1px;
  float: left;
  text-align: center;
  display: block;
}
#controls .favorite{
  width: 49%;
  height: 190px;
  float: right;
  text-align: center;
  display: block;
}
#controls .favorite img{
  width: 60%;
  height: auto;
  margin: 15px auto;
}
#controls img{
  width: 60%;
  height: auto;
  margin: 0px auto;
}
.more-info {
  width: 100%;
  height: 40%;
  bottom: 0;
  border-top: #C0C0C0 solid 1px;
  background-color: #FFF;
  position: fixed;
  display: none;
}
.ratings {
  width: 357px;
  margin: 20px 0px;
  display: block;
  position: relative;
}
.ratings span{
  width: 100px;
  text-align: center;
  border-right: 1px dotted #c0c0c0;
  display: inline-block;
  position: relative;
}
.ratings span:last-child{
  border-right: 0px;
}
.ratings h4{
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 0px;
}
.ratings p{
  color: #b2c0bc;
}
.directions {
  width: 100%;
  margin: 20px 0px;
  display: block;
  position: relative;
}
.directions p{
  line-height: 3px;
  margin-top: 12px;
}
.directions span{
  width: 45%;
  display: inline-block;
  position: relative;
}
.directions span:last-child{
  text-align: center;
}
.directions button {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;;
  color: #1acc9c;
  font-size: 13px;
  padding: 6px 20px 6px 20px;
  border: solid #1acc9c 1px;
  text-decoration: none;
}
