.container {
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #e6e6e6;
  display: block;
  position: relative;
}

.div-center {
  text-align: center;
}

h2 {
  font-family: Arial;
  font-size: 36px;
  font-weight: 200;
  text-transform: capitalize;
}

input[type="text"] {
  width: 100%;
  margin: 10px 0px 15px 0px;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  display: block;

}
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

ul {
  width: 100%;
  display: block;
  list-style-type: none;
  -webkit-padding-start: 0px
}

.price li {
  margin: 0px 10px 0px 10px;
  display: inline-block;
  list-style: none;
  padding: 3px 20px;
  border: black 2px solid;
  list-style-type: none;
}

.price li:hover {
  background-color: blue;
  color: white;
}

