#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  width: 62px;
  height: 62px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Button-black_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  width: 62px;
  height: 62px;
  -ms-transform: rotate(0.0deg);
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-0bc6a564-1d47-40a9-be2f-3c33632eaa01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}