#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Triangle_4 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_440 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Pin-red {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_466 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}