#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-close {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 143px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 106px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 106px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 143px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Ellipse_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Ellipse_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 7px 0px 0px 7px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 35px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-radius: 0px 7px 7px 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 11px;
  width: 145px;
  height: 30px;
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_440 {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Pin-red {
  -ms-transform: rotate(0.0deg);
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 #s-Label_466 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-137c7dcb-e008-468e-a03c-cb862dfefcf0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}