#s-367da92a-f66c-4a3a-8916-0ca4860482f7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367da92a-f66c-4a3a-8916-0ca4860482f7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-367da92a-f66c-4a3a-8916-0ca4860482f7 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-367da92a-f66c-4a3a-8916-0ca4860482f7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}