#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Image_1 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 160px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-close {
  position: absolute;
  top: 30px;
  left: 321px;
  width: 62px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 32.0pt;
  line-height: 32.0pt;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-close .valign {
  vertical-align: middle;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_1 {
  position: absolute;
  top: 190px;
  left: 46px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 275px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 57px;
  font-size: 30.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 30.0pt;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Button-black_2 {
  position: absolute;
  top: 494px;
  left: 113px;
  width: 143px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Button-black_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Button-black_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Button-black_2 span#rtr-s-Button-black_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Check-box {
  position: absolute;
  top: 251px;
  left: 122px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 100.0pt;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Check-box .valign {
  vertical-align: middle;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_2 {
  position: absolute;
  top: 379px;
  left: 84px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 200px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 16px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-83b04c9a-ca30-42cb-90be-0816e27c5bcd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}