#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}