#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Image_1 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 160px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-close {
  position: absolute;
  top: 30px;
  left: 321px;
  width: 62px;
  height: 60px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 32.0pt;
  line-height: 32.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-close .valign {
  vertical-align: middle;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Rich_text_1 {
  position: absolute;
  top: 134px;
  left: 44px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 275px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 20.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Rich_text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Button-black_1 {
  position: absolute;
  top: 427px;
  left: 44px;
  width: 277px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Button-black_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Button-black_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Button-black_1 span#rtr-s-Button-black_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Table_1 {
  position: absolute;
  top: 252px;
  left: 44px;
  width: 285px;
  height: 130px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C0C0C0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C0C0C0;
  box-shadow: none;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_1 {
  padding-left: 12px;
  width: 271px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_2 {
  padding-left: 12px;
  width: 271px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_3 {
  padding-left: 12px;
  width: 271px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  text-shadow: none;
  line-height: 12px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Tab-2-icons {
  position: absolute;
  top: 209px;
  left: 44px;
  width: 285px;
  height: 29px;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 23px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_22 .valign {
  vertical-align: middle;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 143px;
  width: 139px;
  height: 23px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 #s-Label_32 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-b22f84c2-af77-4e3b-bb80-7ff14ea17a71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}