#s-b84cdb25-46a2-4c48-818f-a34b0b647750 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_2 {
  position: absolute;
  top: 475px;
  left: 0px;
  width: 375px;
  height: 192px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Image_1 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 160px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Image_2 {
  position: absolute;
  top: 102px;
  left: 1px;
  width: 374px;
  height: 374px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_1 {
  position: absolute;
  top: 38px;
  left: 278px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_1 span#rtr-s-Button-black_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black {
  position: absolute;
  top: 504px;
  left: 38px;
  width: 62px;
  height: 62px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black span#rtr-s-Button-black_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_1 {
  position: absolute;
  top: 408px;
  left: 157px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 200px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_1 span {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_3 {
  position: absolute;
  top: 504px;
  left: 209px;
  width: 62px;
  height: 62px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_3 span#rtr-s-Button-black_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_2 {
  position: absolute;
  top: 38px;
  left: 325px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_2 span#rtr-s-Button-black_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_2 {
  position: absolute;
  top: 251px;
  left: 83px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 200px;
  height: 66px;
  background-color: #434343;
  background-image: none;
  opacity: 0.83;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 24.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 24.0pt;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}