#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Button-black_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 #s-Rich_text_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83) ;
  filter: alpha(opacity=83) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b84cdb25-46a2-4c48-818f-a34b0b647750 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}