#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 376px;
  height: 121px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Image_2 {
  position: absolute;
  top: 102px;
  left: 1px;
  width: 374px;
  height: 374px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_3 {
  position: absolute;
  top: 475px;
  left: 0px;
  width: 370px;
  height: 188px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Image_1 {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 160px;
  height: 51px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_1 {
  position: absolute;
  top: 38px;
  left: 279px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_1 span#rtr-s-Button-black_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_2 {
  position: absolute;
  top: 504px;
  left: 38px;
  width: 62px;
  height: 62px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_2 span#rtr-s-Button-black_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_12 {
  position: absolute;
  top: 408px;
  left: 157px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 200px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_12 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_12 span {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_12 span#rtr-s-Rich_text_12_0 {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_3 {
  position: absolute;
  top: 504px;
  left: 209px;
  width: 62px;
  height: 62px;
  background-color: #434343;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 38px;
  font-size: 18.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_3 span#rtr-s-Button-black_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_4 {
  position: absolute;
  top: 38px;
  left: 325px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black_4 span#rtr-s-Button-black_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Dynamic_Panel_1 {
  position: absolute;
  top: 402px;
  left: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Panel_1 {
  width: 375px;
  height: 266px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 266px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_1 {
  position: absolute;
  top: 6px;
  left: 156px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 201px;
  height: 66px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_1 span {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #404040;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 371px;
  height: 262px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_2 {
  position: absolute;
  top: 12px;
  left: 20px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 284px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 46px;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Group_4 {
  position: absolute;
  top: 187px;
  left: 17px;
  width: 333px;
  height: 55px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 323px;
  height: 45px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_3 span#rtr-s-Rich_text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black {
  position: absolute;
  top: 11px;
  left: 260px;
  width: 65px;
  height: 27px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Button-black span#rtr-s-Button-black_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Group_2 {
  position: absolute;
  top: 118px;
  left: 20px;
  width: 166px;
  height: 58px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 58px;
  width: 108px;
  height: 58px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_5 {
  position: absolute;
  top: 27px;
  left: 3px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 35px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_6 {
  position: absolute;
  top: 0px;
  left: 57px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_7 {
  position: absolute;
  top: 27px;
  left: 63px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 35px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51px;
  height: 58px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 41px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 34px;
  font-size: 22.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_10 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_11 {
  position: absolute;
  top: 29px;
  left: 3px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 35px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_11 span#rtr-s-Rich_text_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Line_1 {
  position: absolute;
  top: 29px;
  left: 40px;
  width: 33px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Line_2 {
  position: absolute;
  top: 28px;
  left: 99px;
  width: 33px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_8 {
  position: absolute;
  top: 89px;
  left: 18px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 284px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_9 {
  position: absolute;
  top: 46px;
  left: 22px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 284px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d #s-Rich_text_9 span#rtr-s-Rich_text_9_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-bc8263cc-3a7f-4c79-8fb9-124a52c6060d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}