#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 65px 65px 65px 65px;
  padding-top: 33px;
  padding-right: 33px;
  padding-bottom: 33px;
  padding-left: 33px;
  width: 62px;
  height: 62px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-close {
  -ms-transform: rotate(0.0deg);
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Label_119 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}