#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Button-black {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Label_119 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e6674634-79a3-46a2-88a4-a37252ee1aa6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}