#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Button-black {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Button-black_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f9183345-a647-48e4-a861-9c1699f6d821 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}