<ion-view title="My Images">
    <ion-content>
        <div class="row">
            <div>
                <img ng-src="data:image/jpeg;base64,{{images[0].image}}" width="100%" />
            </div>
        </div>

        <div class="row responsive-sm">
          <div class="col">
            <div class="button-bar">
              <a class="button button-outline button-assertive" ng-click="upload()">Upload Photo</a>
            </div>
          </div>
        </div>
        <div class="row responsive-sm">
          <div class="col">
            <div class="button-bar">
              <a class="button button-outline button-assertive" href="#/info">Next</a>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
