<!-- PLACE AUTHENTICATION VIEW HERE -->
<ion-view view-title="Success">
  <ion-content class="padding">
  <div class="row responsive-sm">
    <div class="col">
      <h2>Success!</h2>
      <img src="img/check-box.png"></img>
      <p>Your photo has been submitted. Thank you!</p>
      <div class="padding-left padding-right">
          <div class="button-bar">
              <a class="button button-outline button-assertive" href="#/discovery">OK</a>
          </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>