<!-- PLACE AUTHENTICATION VIEW HERE -->
<ion-view title="Photo Info">
  <ion-content class="padding">
    <div class="container">
      <div class="logo"></div>
      <h2>Dish Info</h2>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Dish Name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Restuarant Name">
        </label>
      </div>

     <h2>Price Range</h2>
     <div class="list">
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           $ - $0-10
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           $$ - $11-20
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           $$$ - $21-30
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
       <label class="item item-radio">
         <input type="radio" name="group">
         <div class="item-content">
           $$$$ - $31+
         </div>
         <i class="radio-icon ion-checkmark"></i>
       </label>
     </div>
     <a href="#/camera/shoot">
      <button class="button button-outline button-positive">
        Back
      </button>
     </a>
     <a href="#/camera/success">
      <button class="button button-outline button-positive">
        Next
      </button>
     </a>
  </ion-content>
</ion-view>