<ion-view view-title="Discovery" no-scroll>
  <ion-pane>
    <!-- Tinder Screens -->
    <!-- <img ng-src="data:image/jpeg;base64,{{images[0].image}}" /> -->
      <!-- <img ng-src="data:image/jpeg;base64,{{images[0].image}}" /> -->
    <td-cards>
      <td-card ng-repeat="card in cards | orderBy:'id'" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
        <div class="image" ng-controller="CardCtrl">
          <div class="no-text">NOPE</div>
          <img ng-src="data:image/jpeg;base64,{{card.image}}" />
          <div class="yes-text">LIKE</div>
        </div>
    <!-- Sub Bar Divs -->
        <div class="sub-bar">
          <span class="distance">
            <span class="location-icon">
              <img src="img/location.png">
            </span>
            <span class="location-text">
              Distance: {{card.miles}} miles away
            </span>
          </span>
        </div>
    </td-card>
    <div id="controls">
      <div class="tasty" ng-click="cardRemove()">
        <img src="img/tasty.png">
      </div>
      <div class="favorite"  ng-click="cardRemove()">
        <img src="img/favorite.png">
      </div>
    </div>
    <div class="more-info">
    <div class="description">
      <span>
          <h2>Carne Asada Fries</h2>
          <p>Category: Mexican</p>
      </span>
      <span>
        <p>Roberto's Taco Joint</p>
        <div class="ratings">
          <span>
            <h4>$$</h4>
            <p>Price Range</p>
          </span>
          <span>
            <h4>24</h4>
            <p>Tasties</p>
          </span>
          <span>
            <h4>05</h4>
            <p>Favorites</p>
          </span>
        </div>
      </span>
      <span>
        <div class="directions">
          <span>
            <p>Located: 844 Market St.</p>
            <p>San Francisco, CA 91342</p>
          </span>
          <span>
            <button>Map It</button>
          </span>
        </div>
      </span>
    </div>
  </div>
  <script>
    $(document).on("click", ".image", function() {
        event.defaultPrevented();
        $('.more-info').slideToggle();
    });
  </script>
  </td-cards>
  </ion-pane>
</ion-view>
<!-- <body>
  <div id="header">
    <div class="navigation">
      <span class="menu">
        <img src="../../img/menu.png">
      </span>
      <span class="logo">
        <img src="../../img/logo.png">
      </span>
      <span class="camera">
        <img src="../../img/camera.png">
      </span>
    </div>
  </div>
</body> -->
<!-- 
 -->